* {
    box-sizing: border-box;
}

h1{
    font-weight: 800;
    color: white;
    grid-area: header;
}

body{
    background: #c0cfd8;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

canvas{
    grid-area: sequencer;
    width: auto;
    border-style: 1px solid black;
    background: black;
    border-radius: 10px;
    width: 675px;
    height: 140px;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 25% 1fr 1fr 10%;
    grid-template-areas: 
        "header header header volume"
        "sequencer sequencer sequencer volume"
        "hh clap bass effects"
        "snare crash tom effects"
        "control control control control"
}

.drum_panel{
    margin: 5px;
    border-radius: 40px;
    background: #c0cfd8;
    box-shadow:  18px -18px 36px #a3b0b8, 
                 -18px 18px 36px #ddeef8;
}

.drum_panel p {
    margin: 0px 70px;
    font-weight: 800;
}

.control_sliders{
    margin-top: 20px;
}
/* ==========FUZZ BUTTONS=============== */

.fuzz_wrap{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.fuzz_control{
    color: white;
    pointer-events: none;
    border-radius: 20px;
    border-color: white;
    border-style: groove;
    display: inline-flex;
    outline: none;
    font-family: 'Orbitron', sans-serif;
    background: #c0cfd8;
    box-shadow:  18px 18px 36px #a3b0b8, 
                 18px -18px -46px #ddeef8;
    padding: 5px 60px 5px 60px;
    cursor: pointer;
}

#hh_fuzz:checked ~ .fuzz_control{
    border-style: ridge;
    box-shadow: inset -20px 20px 60px rgba(191, 5, 5, 0.4), 
                inset 20px -20px 60px #ddeef8;
}

#clap_fuzz:checked ~ .fuzz_control{
    border-style: ridge;
    box-shadow: inset -20px 20px 60px rgba(191, 5, 5, 0.4), 
                inset 20px -20px 60px #ddeef8;
                
}

#bass_fuzz:checked ~ .fuzz_control{
    border-style: ridge;
    box-shadow: inset -20px 20px 60px rgba(191, 5, 5, 0.4), 
                inset 20px -20px 60px #ddeef8;
}

#snare_fuzz:checked ~ .fuzz_control{
    border-style: ridge;
    box-shadow: inset -20px 20px 60px rgba(191, 5, 5, 0.4), 
                inset 20px -20px 60px #ddeef8;
}

#crash_fuzz:checked ~ .fuzz_control{
    border-style: ridge;
    box-shadow: inset -20px 20px 60px rgba(191, 5, 5, 0.4), 
                inset 20px -20px 60px #ddeef8;
}

#tom_fuzz:checked ~ .fuzz_control{
    border-style: ridge;
    box-shadow: inset -20px 20px 60px rgba(191, 5, 5, 0.4), 
                inset 20px -20px 60px #ddeef8;
}
/* ==========EQ Button============== */
#eq:checked ~ .fuzz_control{
    border-style: ridge;
    box-shadow: inset -20px 20px 60px rgba(191, 5, 5, 0.4), 
                inset 20px -20px 60px #ddeef8;
}

.fuzzcheck{
    position: absolute;
    width: 160px;
    height: 31px;
    opacity: 0;
}

/* ===================================== */
#sequencer{
    grid-area: sequencer;
}
#sequencer p{
    margin: 0;
}

#machine_controls{
    grid-area: volume;
}

#machine_controls p {
    margin-left: 50px;
}

#bass{
    grid-area: bass;
}

#hh{
    grid-area: hh;
}

#hh_text{
    margin-left: 70px;
    margin-right: 10px;
}

#crash{
    grid-area: crash;
}

#snare{
    grid-area: snare;
}

#clap{
    grid-area: clap;
}

#tom{
    grid-area: tom;
}

#control{
    grid-area: control;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#control button{
    color: white;
    border-radius: 20px;
    border-color: white;
    font-family: 'Orbitron', sans-serif;
    background: #c0cfd8;
    box-shadow:  18px -18px 36px #a3b0b8, 
                 -18px 18px 36px #ddeef8;
    margin-top: 21px;
    margin-right: 45px;
    padding: 5px 60px 5px 60px;
    cursor: pointer;
}

#control p {
    margin-top: 18px;
}

#effects{
    grid-area: effects;
}

#bpm_panel{
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 25px; 
    margin-right: 10px;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 50px;
    border-style: groove;
    padding-left: -2px;
    margin-left: 18px;
}

p#bpm_reader{
    display: flex;
    justify-content: center;
}

/* TOGGLES */
.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    margin-left: 24px;
    margin-top: 3px;
}

.label-text {
    margin-left: 16px;
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 20px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    background: #c0cfd8;
    box-shadow:  18px -18px 36px #a3b0b8, 
                 -18px 18px 36px #d8d9da,
                 -2px -2px 8px 0px #ffffff;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: #c0cfd8;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
        -8px -4px 8px 0px #a3b0b8,
        8px 4px 12px 0px #99a4ba;
}

.toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
    background: rgba(191, 5, 5, 0.4);
}


.effect_slider{
    margin-left: 33px;
}
.effect_wrap p {
    font-size: 0.8em;
    margin: 0px auto 0px auto;
    padding-left: 15px;
}

.master_effects{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    box-shadow:  20px 20px 60px #a3b0b8, 
                20px -20px 60px #ddeef8;
}

.effect_slider{
    appearance: none;
    outline: none;
    background: linear-gradient(to right, #edf0f4, #99a4ba);
    width: 75%;
    height: 6px;
    margin-top: 0px;
    margin-bottom: auto;
    border-radius: 50px;
    /* display: block; */
}

#master_volume {
    margin-bottom: 20px;
}

#master_bpm {
    margin-bottom: 20px;
}

.effect_slider[type=range]::-ms-track {
    /* appearance: none; */
    width: 50%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

.effect_slider[type=range]::-webkit-slider-thumb {
    appearance: none;
    outline: none;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    border: 3px solid #cbd2da;
    border-radius: 50px;
    background: #ffffff;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* pointer-events: none; Remove pointer events on Bubble so user can click on the actual thumb beaneath it!  */
    /* color: transparent;
    display: grid;
    place-items: center;  Place the number on the center 
    font-weight: bold;
    transition: color 100ms ease, transform 100ms ease;
    user-select: none;  Prevent Accidentally highlighting the number while sliding the cursor  */
}
  
@media only screen and (max-width: 755px){
    .container{
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 10% 25% 1fr 1fr  1fr 10%;
        grid-template-areas: 
            "header header header"
            "sequencer sequencer sequencer"
            "hh clap bass"
            "snare crash tom"
            "volume effects effects"
            "control control control"
    }
    #effects.drum_panel,
    #machine_controls.drum_panel{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 730px){
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 200px 1fr 1fr 1fr 1fr 1fr 10%;
        grid-template-areas: 
            "header header"
            "sequencer sequencer"
            "hh clap"
            "bass snare"
            "crash tom"
            "volume volume"
            "effects effects"
            "control control"
    }
    #bpm_panel{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    #control{
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 588px){
    .container{
        grid-template-columns: 100%;
        grid-template-rows: 100px 200px 200px 200px 200px 200px 200px 200px 300px 470px 100px;
        grid-template-areas: 
            "header"
            "sequencer"
            "hh"
            "clap"
            "bass"
            "snare"
            "crash"
            "tom"
            "volume"
            "effects"
            "control"
    }
    #control p{
        margin-right: 20px;
    }
    #control button{
        margin-right: 20px;
    }
}